.heroContentContainer {
  position: relative;
  margin-top: 6rem;
  text-align: center;
}

.heroImageContainer {
  margin-top: 6rem;
  text-align: center;
}

.heroText {
  font-size: 1.5rem;
  font-family: "Georgia";
}

.heroImage {
  width: 60%;
}

.heroBackground {
  width: 27%;
  position: absolute;
  top: 0;
  right: 0;
}

.heroDecor {
  position: absolute;
  top: 0rem;
  right: 10%;
}

@media (min-width: 768px) {
  .heroText {
    font-size: 2.2rem;
  }

  .heroDecor {
    right: 15%;
  }
}

@media (min-width: 992px) {
  .Wrapper {
    height: 100vh;
    display: flex;
    align-items: center;
  }

  .heroContentContainer {
    padding-right: 6rem;
    margin: 0 auto 0 0;
    text-align: left;
  }

  .heroImageContainer {
    max-width: 354px;
    margin: 0 auto;
  }

  .heroText {
    padding-left: 1.5rem;
    font-size: 1.7rem;
  }

  .heroImage {
    width: 100%;
  }

  .heroDecor {
    top: 1.5rem;
    right: 0;
  }
}

@media (min-width: 1200px) {
  .heroText {
    font-size: 2rem;
  }

  .heroImage {
    height: 100%;
  }

  .heroDecor {
    right: 0;
  }
}
